@import "typography";
@import "color";

.btn-sm{
    height: 40px;
    width: auto;
    padding: 10px 5px;
    margin: 10px 10px;
}

.btn-lg{
    height: 40px;
    width: 100%;
    padding: 10px 5px;
    margin: 10px 10px;

}