@import "../color";
.shopping-cart-popup{

    margin: 5px 30px;
     
    .cart-detail{
        margin-top: 20px;
        .item-list{
            width: 100%;
            padding: 10px;
        }
        
    }
   

}