
.check-out-page2{
    .check-out-form{
        padding: 10px 15px;
    }

 
    .bgcolor-primaryWhite{
        padding: 20px;
    
    }

    .cart-detail{
        margin-top: 20px;
        .item-list{
            width: 100%;
            padding: 10px;
        }
        
    }
}
