 .hero {
    background: url(../img/hero.jpg) no-repeat;
    height: 378px;
    background-size: cover;


    .top-left {
        position: absolute;
        top: 100px;
        left: 220px;
        }

        .txt-title{
            font-family: 'Salsa', cursive;
        }
       
    }
